body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

img {
  display: block;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
}

ul {
  padding-left: 20px;
}
section:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
